.section-development {
  

  @media  screen and (min-width: 300px) and (max-width: 1199px) {
    display: none;
  }
  
  @media  screen and (min-width: $desktop) {
    display: block;
  }
}


.development {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3);
  padding-bottom: 94px;
}

.development__item {
  position: relative;
  margin-right: 30px;
  max-width: 370px;
  max-height: 294px;

  &:nth-child(3n) {
    margin-right: 0px;
  }
 
}


.development__label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
   
    
  height: 70px;
  background-color: #2F303A80 ;
  color: #fff;
    
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
    
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;  

}